@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #3e568d;
  --BORDER-COLOR: #fff;
  --COLOR: #fff;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --TASK-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #fff;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #f00;
}

/* UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: rgb(209, 0, 0);
  font-size: medium;
  font-weight: 500;
  padding: 0.5em 1em;
  border: 1px solid white;
  border-radius: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* GENERAL STYLES */

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
  width: 100%;
  text-align: center;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* PAGES */

.welcome {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px 25px;
  flex-direction: column;
  gap: 1.2rem;
}

.welcome__user {
  padding-bottom: 10px;
  border-bottom: 2px white solid;
}

.welcome__subtitle {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px white solid;
}

.welcome__sublink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid white;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main,
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1.3em 0.2em;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "";
}

/* DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  max-width: 800px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* TABLES - GENERAL */

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

/* TASK */

.task__status {
  font-weight: bold;
}

.task__status--open {
  color: var(--STATUS-OPEN);
}

.task__status--completed {
  color: var(--STATUS-COMPLETE);
}

/* FORM - GENERAL */

.loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  flex-flow: column nowrap;
  gap: 1em;
}

.form {
  display: flex;
  width: 50%;
  flex-flow: column nowrap;
  gap: 0.9em;
  padding: 8px 0px 0px 30px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  gap: 0.7em;
  font-size: medium;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input {
  padding: 0.5em;
  border-radius: 15px;
  width: 100%;
}

.form__label {
  align-self: flex-start;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 20px;
  height: 20px;
}

.form__select {
  width: 90%;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.form__dates {
  font-size: medium;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .form__action-buttons {
    position: static;
  }
}