@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #3e568d;
  --BORDER-COLOR: #fff;
  --COLOR: #fff;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --TASK-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #fff;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #f00;
}

/* UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: rgb(209, 0, 0);
  font-size: medium;
  font-weight: 500;
  padding: 0.5em 1em;
  border: 1px solid white;
  border-radius: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 36px;
  height: 36px;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* GENERAL STYLES */

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
  width: 100%;
  text-align: center;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* PAGES */

.welcome {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 15px 25px;
  flex-direction: column;
  gap: 1.2rem;
}

.welcome__categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.category__column {
  width: 30%;
}

.welcome__user {
  padding-bottom: 10px;
  border-bottom: 2px white solid;
}

.welcome__subtitle {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px white solid;
}

.welcome__sublink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1.3em 0.2em;
}

.welcome a::before {
  content: "";
}

/* TABLES - GENERAL */

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

/* TASK */

.task__status {
  font-weight: bold;
}

.task__status--open {
  color: var(--STATUS-OPEN);
}

.task__status--completed {
  color: var(--STATUS-COMPLETE);
}

/* FORM - GENERAL */

.loginform {
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 1em;
}

.form {
  display: flex;
  width: 50%;
  flex-flow: column nowrap;
  gap: 0.9em;
  padding: 8px 0px 0px 30px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  gap: 0.7em;
  font-size: medium;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__label {
  align-self: flex-start;
}

.form__checkbox {
  width: 20px;
  height: 20px;
}

.form__select {
  width: 90%;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  gap: 0.5em;
}

.form__dates {
  font-size: medium;
}

.form__action-buttons {
  position: static;
}

@media screen and (max-width: 770px) {
  .welcome__categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-evenly; */
  }

  .category__column {
    width: 100%;
  }
  
  .navDate {
    display: none;
  }

  .icon-button {
    width: 48px;
    height: 48px;
    font-size: 2.5rem !important;
  }

  .loginform {
    justify-content: center;
    align-items: center;
    width: 80% !important;
    gap: 1em;
  }

  .form {
    justify-content: center;
    width: 95% !important;
    padding: 15px !important;
  }
}